@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* START */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* END */
}

/* START */
ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 14px;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 12px;
}

a {
  text-decoration: none;
  color: black;
}
/* END */

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* START */
  padding: 10px 15px;
  /* end */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
